.button {

  &_generateBtn{
    grid-row: 3/4;
    grid-column: 5/10;
    height: 50px;
    width: 350px;
    -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    justify-self: center;

    background-color: #5496E6;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;

    border: none;

    box-shadow: 10px 5px 5px red;
    -moz-box-shadow: 10px 5px 5px red;
    -webkit-box-shadow: 10px 5px 5px red;
    // box-shadow: 3px 3px 3px 30px crimson;
  }

  &_changeDateBtn{
    grid-row: 2/3;
    grid-column: 3/5;
    background: none;
    color: white;
    border: none;
    justify-self: center;
    align-self: center;
    transform: translateX(17px) rotateZ(-68deg);
    width: 150px;
    height: 75px;

    &:focus{
      outline: none;
    }
  }
}
